body {
  background: #0f172a;
  font-family: Arial, Helvetica, sans-serif;
}

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 350px;
  background: #1e293b;
  padding: 40px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #334155;
}

.auth-card h1 {
  text-align: center;
  color: #38bdf8;
}

.auth-card input {
  padding: 14px;
  border: none;
  border-radius: 10px;
  outline: none;
  background: #334155;
  color: white;
}

.auth-card button {
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.auth-card button:hover {
  background: #0ea5e9;
}

.auth-card p {
  text-align: center;
  color: #cbd5e1;
}

.auth-card a {
  color: #38bdf8;
  text-decoration: none;
}